<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 Your Website. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="footer-links">
                    <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="/TermsOfService">Terms of Service</a></li>
                    <li><a href="/Contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>