@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
}


@Html.Partial("_Header")


<h2>About Us</h2>
<p>We are a platform dedicated to connecting university students in Jordan and facilitating volunteer opportunities across different regions.</p>
<p>Our mission is to empower students to contribute to their communities while gaining valuable skills and experiences.</p>

@Html.Partial("_Footer")
